<!DOCTYPE html>
<html>
  <head>
    <title>RpsRcav</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sketchy/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <body>
  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-md-4">
        <a href="/rock" class="btn btn-block btn-outline-primary">
            <i class="far fa-hand-rock fa-fw">
            </i>
            Play Rock
          </a>
      </div>
      <div class="col-md-4">
        <a href="/paper" class="btn btn-block btn-outline-primary">
            <i class="far fa-hand-paper fa-fw">
            </i>
            Play Paper
          </a>
      </div>
      <div class="col-md-4">
        <a href="/scissors" class="btn btn-block btn-outline-primary">
            <i class="far fa-hand-scissors fa-fw">
            </i>
            Play Scissors
          </a>
      </div>
    </div>
    <%= yield %>

    <%= dev_tools if Rails.env.development? %>
  </body>
</html>
